#root {
  max-width: 1280px;
  width: 100%; 
  display: flex; 
  justify-content: space-between;
  margin: 0;
  padding: 2rem;
}

.card{
  background-color: white;
  color: black; 
  padding: 1em 2em; 
  border-radius: 1em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 1em;
}

.Editor{
  width: 40%; 
  min-width: 300px; 
  height: 90vh;
}

.Preview{
  width: 58%;
  height: 90vh; 
  background-color: white;
  min-width: 300px; 
  border-radius: 1em;
}

.Editor, .Preview{
  overflow-y: scroll;
  overflow-x: auto;
}

@media screen and (max-width: 600px) {
    #root{
      flex-direction: column;
    }

    .Editor, .Preview{
      width: 100%;
    }
}